<link type="text/css" rel="stylesheet" href="/static/main.css"/>

{% block content %}
  <h2>Search Form</h2>
  <form action="{{ url_for('search_form') }}" method=post>
    {{ searchForm.hidden_tag() }}

    {{ searchForm.title.label }}
    {{ searchForm.title }}

    {{ searchForm.description1.label }}
    {{ searchForm.description1 }}

    {{ searchForm.description2.label }}
    {{ searchForm.description2 }}

    {{ searchForm.submit }}

  </form>
{% endblock %}
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
~
